@charset "utf-8";

/*
 *  Animation
 */

/* @keyframes change {
	0% {
		background: $anim-one;
	}
	50% {
		background: $anim-two;
	}
	100% {
		background: $anim-three;
	}
}
@-webkit-keyframes change {
	0% {
		background: $anim-one;
	}
	50% {
		background: $anim-two;
	}
	100% {
		background: $anim-three;
	}
}
@-moz-keyframes change {
	0% {
		background: $anim-one;
		color: #babcbf;
	}
	50% {
		background: $anim-two;
		color: #fafcff;
	}
	100% {
		background: $anim-one;
		color: #babcbf;
	}
}
@-o-keyframes change {
	0% {
		background: $anim-one;
		color: #babcbf;
	}
	50% {
		background: $anim-two;
		color: #fafcff;
	}
	100% {
		background: $anim-one;
		color: #babcbf;
	}
} */