@charset "utf-8";

/* Freshmen Navigation
 *
 * @author           Lancelot at EcjtuNet
 * @version          0.1
 * @last-time        2014.8.16
 *
 */


/* 文件载入 ----------------------------------------------------------*/

@import  "data";    			// Sass Variable
@import  "reset";   			// CSS Reset
@import  "mixin";   			// Mixin
@import  "csshake"; 			// CSShake
@import  "pre"; 				// CSS Pre
@import  "animation";			// Animation


/* CSS ---------------------------------------------------------------*/

@charset "utf-8";

/* Freshmen Navigation
 *
 * @author           Lancelot at EcjtuNet
 * @version          0.1
 * @last-time        2014.8.16
 *
 */


/* 文件载入 ----------------------------------------------------------*/

@import  "data";    			// Sass Variable
@import  "reset";   			// CSS Reset
@import  "mixin";   			// Mixin
@import  "csshake"; 			// CSShake
@import  "pre"; 				// CSS Pre
@import  "animation";			// Animation


/* CSS ---------------------------------------------------------------*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	background: $black;
	@include boxShadow(0px, 1px, 2px, 0px);

	ul {
		float: left;
		margin: 0 auto;
		li {
			float: left;
			padding: 0 49px;

			a {
				display: inline-block;
				padding-left: 64px;
				color: #fff;
				font: $nav-font;
				text-shadow: 0px 1px 2px rgba(0,0,0,.15);
			}
		}
	}
}
.more {
	position: fixed;
	top: 0;
	right: 0;
	display: inline-block;
	width: $header-height;
	height: $header-height;
	text-align: center;
	color: #fff;
	font: normal 24px/64px Microsoft Yahei;
	cursor: default;

	a.check {
		position: fixed;
		top: $header-height;
		right: 0;
		display: none;
		padding: 0 12px;
		background: $black;
		font: $p-font-medium;
		@include boxShadow(0px, 1px, 2px, 0px);

		&:hover {
			color: $lightblue;
		}
	}
	a.morePic {
		position: fixed;
		top: $header-height + 42px;
		right: 0;
		display: none;
		padding: 0 12px;
		background: $black;
		font: $p-font-medium;
		@include boxShadow(0px, 1px, 2px, 0px);

		&:hover {
			color: $lightblue;
		}
	}
	&:hover {
		color: $lightblue;
	}
	&:hover a.check, &:hover a.morePic {
		display: inline-block;
	}
}

#head-content {
	width: 960px;
	height: $header-height;
	margin: 0 auto;
}
#nav {
	width: 960px;
	// padding: 0 168px;
	height: $header-height;
	margin: 0 auto;

	a.shopping {
		background: url($shopping-path) 8px 8px no-repeat;
		&:hover {
			color: $red;
		}
	}
	a.food {
		background: url($food-path) 8px 8px no-repeat;
		&:hover {
			color: $green;
		}
	}
	a.home {
		background: url($home-path) 8px 8px no-repeat;
		&:hover {
			color: $yellow;
		}
	}
	a.travel {
		background: url($travel-path) 8px 8px no-repeat;
		&:hover {
			color: $lightblue;
		}
	}
}
#logo {
	float: left;
	width: 167px;
	height: 64px;
	background: url($logo-path) left center no-repeat;
	@include transition(background, .3s);

	&:hover {
		background: url($logo-h-path) left center no-repeat;
	}
}



#container {
	width: 100%;
	padding-top: $header-height;
}
#content {
	position: relative;
	max-width: 960px;
	height: 100%;
	margin: 0 auto;
	// padding: 24px 0;
	clear: both;

}
h2 {
	@include title();
}

#bus {


	p {
		margin: 12px 0;

		span {
			display: inline-block;
			color: $blue;
			font: $box-font;
			margin-right: 5px;
		}
	}
	input[type=button] {
		width: 128px;
		height: 36px;
		border-top: 4px solid $lightblue;
		border-right: 4px solid $blue;
		border-bottom: 4px solid $blue;
		border-left: 4px solid $lightblue;
		@include boxShadow(1px, 1px, 2px, 0px);

		background: $lightblue;
		color: #fff;
		font: normal 17px/28px Microsoft Jhenghei, Microsoft Yahei, Heiti, Arial, sans-serif;

		&:active {
			border-top: 4px solid $blue;
			border-right: 4px solid $lightblue;
			border-bottom: 4px solid $lightblue;
			border-left: 4px solid $blue;
			@include insetBoxShadow(1px, 1px, 2px, 0px);
		}
	}
	input[type=textbox] {
		width: 240px;
		font: normal 14px/28px Microsoft Jhenghei, Microsoft Yahei, Heiti, Arial, sans-serif;
		// padding: 0 18px;
		border-top: 4px solid $blue;
		border-right: 4px solid $lightblue;
		border-bottom: 4px solid $lightblue;
		border-left: 4px solid $blue;
		// border-radius: 36px;
	}
}

#allmap {
	width: 800px;
	height: 600px;
	overflow: hidden;
	margin:0;
}
#l-map {
	height: 360px;
	width: 100%;
	@include boxShadow(1px, 1px, 5px, 0px);
}
#r-result {
	height:240px;
	width: 100%;
	border: 1px solid $lightblue;
	overflow-y: auto;
}
#r-result table{
	width: 100%;
}

#street-map {
	@include boxShadow(1px, 1px, 5px, 0px);
}




footer {
	width: 100%;
	margin-top: 36px;
	padding: 24px 0;
	background: $black;

	p {
		margin: 0 0 14px 0;
		text-align: center;
		letter-spacing: .05em;
		font: $footer-font;
		color: #fff;

		a {
			display: inline-block;
			margin: 0 3px;
			color: #fff;

			&:hover {
				color: $lightblue;
				text-decoration: underline;
			}
		}
	}
}



.scroll {
	position: fixed;
	bottom: $scroll-size;
	right: $scroll-size;
	width: $scroll-size;
	height: $scroll-size;
	background: transparent;

	&:before {
		content: "";
		position: absolute;
		border-left: 24px solid transparent;
		border-right: 24px solid transparent;
		border-bottom: 24px solid $lightblue;
	}
	&:after {
		content: "";
		position: absolute;
		left: 8px;
		bottom: 0;
		width: 32px;
		height: 24px;
		background: $lightblue;
		// @include boxShadow(0px, 2px, 3px, 0px);
	}
}